@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FTP Client</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est augue, varius non nunc vel, imperdiet luctus nulla.
        Phasellus mollis, massa in euismod vulputate, dolor dui semper ex, vel condimentum justo justo vel lorem. 
        Pellentesque pretium velit quis pulvinar facilisis. Fusce cursus dignissim congue. Duis varius aliquam nisi sollicitudin commodo.
    </p>
    <p>
        <a href="https://www.lipsum.com" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est augue, varius non nunc vel, imperdiet luctus nulla.
            Phasellus mollis, massa in euismod vulputate, dolor dui semper ex, vel condimentum justo justo vel lorem. 
            Pellentesque pretium velit quis pulvinar facilisis. Fusce cursus dignissim congue. Duis varius aliquam nisi sollicitudin commodo.
        </p>
        <p><a class="btn btn-default" href="https://www.lipsum.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum!</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est augue, varius non nunc vel, imperdiet luctus nulla.</p>
        <p><a class="btn btn-default" href="https://www.lipsum.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum!</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est augue, varius non nunc vel, imperdiet luctus nulla.</p>
        <p><a class="btn btn-default" href="https://www.lipsum.com">Learn more &raquo;</a></p>
    </div>
</div>